   <!-- Page Wrapper -->
   <div id="wrapper">


    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
       <app-topbar></app-topbar>
        <!-- End of Topbar -->

      <router-outlet></router-outlet>

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>
      <!-- End of Footer -->

    </div>
    </div>


