<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"> {{"Welcome, " + this.user.name}} </h1>
    </div>

    <!-- Content Row -->
    <app-spinner *ngIf="showSpinner"></app-spinner>
    <div *ngIf="showSpinner === false" class="row">
        <div class="card col-mb-6 col-lg-6">
                            <div class="card-header"> 
                              {{"Welcome, " + this.user.name}}
                            </div>
                            <div class="card-body">
                             
                            </div>
        </div>
          <!-- DataTales Example -->
          <div class="card col-mb-4 col-lg-6">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

    </div>




</div>