<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a (click)="generateReport()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <app-spinner *ngIf="showSpinner"></app-spinner>
    <!-- Content Row -->
    <div *ngIf="showSpinner == false" class="row">
       
        <app-card *ngFor="let card of cardData" 
        [card]="card" class="col-xl-3 col-md-6 mb-4"
        (click)="clickedRow(card)"
        ></app-card>
    </div>

    <!-- Content Row -->

    <!-- <div class="row">

        <app-chart *ngFor="let card of cardData"
        [card]="card" class="col-xl-6 col-md-6 mb-6"
        ></app-chart>
        

    </div> -->


</div>
